# My virtual environment folder
myenv/

# Standard virtual environment folders
venv/
env/
.venv/

# Environment variables
.env

# Compiled Python files
__pycache__/
*.pyc

# IDE / Editor folders
.vscode/
.idea/
